*.last-run
*.cache
Package Control.system-ca-bundle
Gist.sublime-settings
*Copie en conflit*
.DS_Store
Package Control.merged-ca-bundle
ColorPicker_osx_x64
Package Control.user-ca-bundle
*.swp
/bash/windows-local.sh
